
body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

code {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-align: center;
    color: white;
    text-decoration: none;
}

h1 a{ 
  text-decoration: none;
  color: black;
}

.page {
    padding: 1em 1em 4em;
    background-color: #0C3B29;
    z-index: -1;
    border-radius: 0 0 10% 10%;
    height: 30vh;
}

form {
  padding-top: 20px;
  text-align: center;
}

form input, select{
  font-size: 1.1em;
  border-radius: 10px;
  margin-top: 0.7em;
  border: 1px solid;
  padding: 0.2em;
}



.ovelser {
  margin: 1em auto;
  width: 350px;
  box-sizing: border-box;
  display: block;
  border: solid 1px #c1c1c1;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
form h3{
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.ovelser {
  margin: 1em auto;
  width: 350px;
  box-sizing: border-box;
  display: block;
  border: solid 1px #c1c1c1;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}


/*--------grid-container--------*/



.grid-container {
    margin: auto;
    display: grid;
    background-color: none;
    width: 90%;
    max-width: 350px;
    z-index: 10;
    padding-bottom: 8em;
  }

  .grid-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3%;
  }

/*-----------logo ------------*/

.logo {
  margin: auto;
  display: block;
  align-items: center;
  max-width: 350px;
  width: 90%;
  margin-top: 3em;
  border-radius: 100%;
}

/*---------image preview --------*/
.image-preview {
  width: 80%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  margin: 1em auto;
  display: block;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

/*------button------*/

button {
  font-weight: 300;
  border-radius: 10px;
  letter-spacing: 0.07em;
  background-color: #F5791E; 
  display: block;
  margin: 2em auto 0;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  border: 0px solid black;
  color: white;
  padding: 0.3em;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

.button-logud{
  margin: 1em auto 0;
}

.button-front{
  font-size: 13px;
}


/* ---------- nav  ---------- */
nav {
  width: auto;
  background-color: #0C3B29;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}


nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 7px 7px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
}

nav p{
  margin: 0;
}


.nav a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: var(--dark);
  color: var(--light);
}

/* ---------- loader styling ---------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid #d8e0d8;
  border-radius: 50%;
  border-top: 5px solid #6ecd6b;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- Swiper ---------- */
.swiper {
  max-width: 350px;
  width: 90%;
  display: block;
  margin: auto;
}

.swiper img{
  width: 100%;
  object-fit: scale-down;
  border-radius: 3%;
  height: 400px;
  padding-top: 60px;
}


.swiper p{
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-align: center;
  color: black;
  padding: 8px 8px;
}

.swiper button{
  margin-right: 10%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  z-index: 0;
}

.top-bar{
  background-color: #0C3B29;
  margin: 0;
  padding: 1em 1em 1em;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  height: 1vh;
  display: block;
}

.top-bar h3{
  color: white;
  text-align: center;
  margin-top: -0.5em;
  font-size: 0.8em;
}



/* ---------- Opret-bruger ---------- */

.opret-bruger p{
  font-size: 1em;
  text-align: center;
  color: black;
  margin: auto;
  margin-top: 3em;
  font-weight: 600;
}

.file-input{
  font-size: 1em;
  border-radius: 0;
  border: 0px solid;
  padding: 0;
  color: black;
}

/* ---------- front-page ---------- */

.front-page p{
  text-align: center;
  font-size: 1.2em;
}

/* ---------- home-page ---------- */

.home-page{
  display: grid;
  grid: 280px / auto auto;
  grid-gap: 5px;
}

.home-page-card{
  display: block;
}

.home-page img{
  margin-bottom: 0;
  width: 100%;
  border-radius: 5px;
  max-height: 160px;
  min-width: 153.9px;
}

.home-page h1{
  display: none;
}

.home-page h2{
  margin: 0.3em auto;
  font-size: 1.3em;
}

.home-page h3{
  color: black;
  margin: 0.3em auto;
  text-align: start;
  font-size: 0.8em;
}

.home-page p{
  margin: 0.2em auto;
}




/* ---------- Bekseder ---------- */

.beskeder{
  max-width: 100%;
  margin-top: 0.1em;
}


/* ---------- Searchbar ---------- */

.searchbar{
  margin: 2.5em auto 0.6em;
  max-width: 350px;
  width: 90%;
}

.searchbar input{
  margin: auto;
  min-height: 25px;
  max-width: 350px;
  width: 100%;
  border: 2px solid grey;
  border-radius: 8px;
  background-color: #f5f5f5;
}


/* ---------- Post-page ---------- */

.post-page{
  width: 90%;
  margin:auto;
  margin-top: 0;
}

.post-page .image-preview{
  width: 100%;
  min-height: 280px;
}

.post-page h1{

}

.post-page h2{
  margin: 0.3em auto;
  font-size: 2.5em;
  width: 90%;
}

.post-page h3{
  color: black;
  margin: 0.3em auto;
  text-align: start;
  font-size: 0.8em;
  width: 90%;
}

.post-page p{
  margin: 0.2em auto;
  width: 90%;
}

.usercard{
  margin-top: 2em;
  display: grid;
  grid: 100px / auto auto;
  grid-gap: 0;
  width: 50%;
}