
body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

code {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-align: center;
}

.page {
    padding: 1em 1em 4em;
}

/*--------grid-container--------*/

.grid-container::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #0C3B29;
    top: 0;
    height: 50vh;
    left: 0;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 10% 10%;
  }

/*-----------logo ------------*/

.logo {
  margin: auto;
  display: block;
  align-items: center;
  width: 500px;
  margin-top: 2%;
  border-radius: 100%;
}

/*------button------*/

button {
  font-weight: 300;
  border-radius: 8px;
  letter-spacing: 0.07em;
  background-color: #F5791E; 
  display: block;
  margin: 3em auto 0;
  font-family: "Lato", sans-serif;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}
